:host {
  /* Custom variable */
  --sp-focus-color: #98daea;
  
  /* Paper input variables */
  --paper-input-container-color: white;
  --paper-input-container-focus-color: var(--sp-focus-color);
}

a {
  text-align: center;
  width: 50%;
  margin: 30px auto;
  display: block;
  font-weight: 500;
}

.home-login-form {
  width: 20%;
  height: 344px;
  padding: 10px 50px;
  background-color: #00A1BE;
  position: absolute;
  top: 65px;
  z-index: 1;
  -webkit-clip-path: polygon(0% 0%, 100% 0, 100% 90%, 50% 100%, 0 90%);
  clip-path: polygon(0% 0%, 100% 0, 100% 90%, 50% 100%, 0 90%);
  
}

.login-title {
  font-size: 28px;
  font-weight: 300;
  color: white;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 0px;
}
