link(rel="import" href="../../bower_components/polymer/polymer.html")
link(rel="import" href="../../bower_components/paper-input/paper-input.html")

dom-module#home-login
  style
    include login.css

  template
    form.home-login-form(action="/auth/login" method="POST")
      p.login-title
        | Login to Spearhead

      paper-input(label="Email" type="email" name="username")
      paper-input(label="Password" type="password" name="password")

      button.btn-white(type="submit") Login

  script
    include login.js