extends layout

block content
    projects-waterfall
    stage-pipeline
    iron-grid
        .s6
            p Hey im an s6 column
        .s6
            p Hey im an s6 column

    .home-header
        h1 Get projects done on time.
        hr
        p Spearhead is a simple project management app that estimates project deadlines accurately.
        button Get Started
        
        .home-login-form
            p some stuff

    .home-content
        h2 No more missed deadlines
        p Avoid underestimating your workload and missing another deadline.  We know what happens when projects start to overlap and the tasks stack up.  You should be spending your weekend enjoying yourself, instead of catching up on work.