link(rel="import" href="../../bower_components/polymer/polymer.html")
link(rel="import" href="../../bower_components/paper-input/paper-input.html")

dom-module#projects-waterfall

  template
    style
      include waterfall.css
      
    h1 Your Projects
    button.btn-green Add Project
    
    div#date-selection
      paper-input(type="date" label="Start Date" value="{{start::input}}")
      paper-input(type="date" label="End Date" value="{{end::input}}")

    svg#waterfall

  script
    include ../../public/bower_components/d3/d3.js
    include d3-waterfall.js
    include waterfall.js