:host {
  font-family: Helvetica, Arial, sans-serif;
}

:host ::content h1 {
  margin-bottom: 5px;
}

:host ::content #date-selection {
  width: 365px;
  float: right;
  padding-right: 5%;
  margin-bottom: 20px;
}

:host paper-input {
  display: inline-block;
  margin-right: 10px;
}

:host ::content .tick ::content line {
  stroke-width: 1;
  stroke: lightgrey;
  opacity: 0.3;
}

:host ::content .grid ::content path {
  stroke-width: 0;
}