section {
  padding: 40px 0px;
}

.container {
  width: 70%;
  margin: 0 auto;
}

.clear-nav {
  margin-top: 65px;
}

.clear-side-nav {
  margin-top: 93px;
  margin-left: 85px;
}

.bg-default {
  background-color: $superlight-blue;
}

.bg-lt-blue {
  background-color: $light-blue;
}
