.home-header {
  background-color: $light-blue;
}

.home-title {
  p { 
    font-size: 22px; 
    font-weight: 300;
  }
}

#create-account-form {
  h2 {
    margin: 10px 0px;
  }

  button {
    margin-top: 25px;
  }

  .form-container {
    width: 50%;
  }
}